#title {
  text-align: center;
}

.gradient-background {
  background: linear-gradient(300deg, #ff00b3, #4c52ff, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-image {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: center 1px;
  background-repeat: no-repeat;
}
